<h1> Welcome to your page, <%= @user.username %>! </h1>

<h2> Pick a deck to play! </h2>
  <div>
  <% @decks.each do |deck| %>
  <ul>
    <li><a href="/decks/<%= deck.id%>"><%= deck.title %></a></li>
  </ul>
  <% end %>
  <div>

<div>
<form action="/sessions" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Logout">
</form>
<div>


    <!-- http://localhost:9393 -->
<!-- <a href="http://localhost:9393/decks">Click this to see available decks!</a> -->
