<div class="container">
  <h1>Welcome to Flash Cards!</h1>
  <p>Log in to increase your competency in various subjects!</p>
  <center> <img src="http://blog.atomiclearning.com/highed/sites/blogs.atomiclearning.com/files/images/bigstock-lightbulb-vector.png"> </center>

  <a href='/sessions/new'>Login</a> |
  <a href='/users/new'>Register</a>


</div>

